extends ../layout

block content
    .container
        form.col-10.mx-auto(action=`/rent/${rent.id}?_method=PUT`,method='POST')          
            include _rent_upload
            button.btn.registerbutton.btn-color(type="submit") 수정하기

                
