.row.col-lg-10.col-md-10.col-sm-12.col-12.mt-3.mx-auto
    h1.col-lg-3.col-md-4.col-sm-6 방목록
    select#inlineFormCustomSelect.custom-select.mr-sm-2.col-lg-2.col-md-3.col-sm-4
        option(selected='') 전체
        option(value='1') 명지대학교 정문
        option(value='2') 덕곡마을
        option(value='3') 동진마을

.row.col-lg-10.col-md-10.col-sm-12.col-12.mx-auto.mt-4
    .card.mb-3.col-lg-4.col-md-5.col-sm-12.col-12.mx-auto.p-1
        img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
        .card-body
            p.card-text
                p 명지대학교 정문
                p 성현빌딩
    |
    .card.mb-3.col-lg-4.col-md-5.col-sm-12.col-12.mx-auto.p-1
        img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
        .card-body
            p.card-text
                p 명지대학교 정문
                p 성현빌딩
    |
    .card.mb-3.col-lg-4.col-md-5.col-sm-12.col-12.mx-auto.p-1
        img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
        .card-body
            p.card-text
                p 명지대학교 정문
                p 성현빌딩
    |
    .card.mb-3.col-lg-4.col-md-5.col-sm-12.col-12.mx-auto.p-1
        img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
        .card-body
            p.card-text
                p 명지대학교 정문
                p 성현빌딩
    |
    .card.mb-3.col-lg-4.col-md-5.col-sm-12.col-12.mx-auto.p-1
        img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
        .card-body
            p.card-text
                p 명지대학교 정문
                p 성현빌딩
    |
    .card.mb-3.col-lg-4.col-md-5.col-sm-12.col-12.mx-auto.p-1
        img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
        .card-body
            p.card-text
                p 명지대학교 정문
                p 성현빌딩