.row.col-lg-10.col-md-10.col-sm-12.mx-auto.mt-5
    .col-lg-4.col-md-5.col-sm-10.mx-auto
        .card.mb-3
            img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
            .card-body
                p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    |
    .col-lg-4.col-md-5.col-sm-10.mx-auto.mb-3
        .card
            img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
            .card-body
                p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    .col-lg-4.col-md-5.col-sm-10.mx-auto
        .card.mb-3
            img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
            .card-body
                p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    .col-lg-4.col-md-5.col-sm-10.mx-auto
        .card.mb-3
            img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
            .card-body
                p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    |
    .col-lg-4.col-md-5.col-sm-10.mx-auto.mb-3
        .card
            img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
            .card-body
                p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.
    .col-lg-4.col-md-5.col-sm-10.mx-auto
        .card.mb-3
            img.card-img-top(src='.../100px180/?text=Image cap', alt='Card image cap')
            .card-body
                p.card-text
                | Some quick example text to build on the card title and make up the bulk of the card&apos;s content.