.row.col-lg-12.col-12.mx-auto.mt-3
  if rent.tv
    p.col-lg-4.col-12 tv
  if rent.elevator
    p.col-lg-4.col-12 엘베
  if rent.bed
    p.col-lg-4.col-12 침대
  if rent.wardrobe
    p.col-lg-4.col-12 옷장
  if rent.washer
    p.col-lg-4.col-12 세탁기
  if rent.gaslens
    p.col-lg-4.col-12 가스렌지
  if rent.internet
    p.col-lg-4.col-12 인터넷
  if rent.water
    p.col-lg-4.col-12 정수기
