.row.col-lg-8.col-md-12.col-sm-12.mt-3.ml-1.border-bottom#rentoption
  if rent.tv
    .col-lg-3.col-md-6.col-sm-6.col-6.mb-2
      i.fas.fa-tv.fa-3x
  if rent.elevator
    .col-lg-3.col-md-6.col-sm-6.col-6.mb-2
      img(src='https://wpclassevent.s3.amazonaws.com/248d8cf2-da91-4859-906d-d30324dbcef8/elevator.png', width = '50px', height = '50px')
  if rent.bed
    .col-lg-3.col-md-6.col-sm-6.col-6.mb-2
      i.fas.fa-bed.fa-3x
  if rent.wardrobe
    .col-lg-3.col-md-6.col-sm-6.col-6.mb-2
      img(src='https://wpclassevent.s3.amazonaws.com/14ca4d50-c9ff-4631-b257-88c4179fdebd/drawer.png', width = '50px', height = '50px')

  if rent.washer
    .col-lg-3.col-12
      img(src='https://wpclassevent.s3.amazonaws.com/5492316a-2ee9-4fe5-8bc6-5066b5b7547f/washing-machine.png', width = '50px', height = '50px')
  if rent.gaslens
    .col-lg-3.col-md-6.col-sm-6.col-6.mb-2
      i.fas.fa-burn.fa-3x
  if rent.internet
    .col-lg-3.col-md-6.col-sm-6.col-6.mb-2
      i.fas.fa-wifi.fa-3x
  if rent.water
    .col-lg-3.col-md-6.col-sm-6.col-6.mb-2
      i.fas.fa-tint.fa-3x
