.row.col-lg-12.col-12.mx-auto.mt-3
  if rent.tv
    .col-lg-4.col-12
      i.fas.fa-tv.fa-5x
  if rent.elevator
    .col-lg-4.col-12
      i.fi-elevator.fa-5x
  if rent.bed
    .col-lg-4.col-12
      i.fas.fa-bed.fa-5x
  if rent.wardrobe
    .col-lg-4.col-12
      i.icomoon.icon-drawer-3.fa-5x

  if rent.washer
    .col-lg-4.col-12
      img(src='/images/washing-machine.png', width = '100px', height = '100px')
  if rent.gaslens
    .col-lg-4.col-12
      i.fas.fa-burn.fa-5x
  if rent.internet
    .col-lg-4.col-12
      i.fas.fa-wifi.fa-5x
  if rent.water
    .col-lg-4.col-12
      i.fas.fa-tint.fa-5x
