#map.col-10.review_map.embed-responsive.embed-responsive-16by9

div.col-10.center
  table.table.table-hover
    thead
      tr
        th(scope='col') 번호
        th(scope='col') 건물

    tbody.building_list


script(type='text/javascript', src='https://dapi.kakao.com/v2/maps/sdk.js?appkey=65a782a59f9c39605ada891145256dcd&libraries=LIBRARY')
script(src='/javascripts/map.js')
