hr
.row.col-12.mx-auto
  #map.col-lg-8.col-md-12.col-12.review_map.embed-responsive.embed-responsive-16by9map.col-lg-8.col-md-12.col-sm-12.review_map.embed-responsive.embed-responsive-16by9.mt-3

  div.col-10.center
    table.table.table-hover
      thead
        tr
          th(scope='col') 번호
          th(scope='col') 건물

      tbody.building_list


script(type='text/javascript', src='https://dapi.kakao.com/v2/maps/sdk.js?appkey=cbb2a457ec2381fb99ff6ddf473dc96c&libraries=LIBRARY')
script(src='/javascripts/map.js')
