extends layout

block content
  img.d-block.w-100(src='/images/mainimg11.jpg', alt='first-slide')#mainimg
  img.d-block.w-100(src='/images/maincomment2.png', alt='first-slide')#maincomment
  main.img
  .div
    #mainicon
      ul
        li
          #firsticon.i.far.fa-building.fa-4x
          h5 니방대여
        li
          #secondicon.i.fas.fa-utensils.fa-4x
          h5 레시피
        li
          #thirdicon.i.i.fas.fa-map-marked-alt.fa-4x
          h5 로그인
        li
          #fourthicon.i.fas.fa-sign-in-alt.fa-4x
          h5 건물평가