extends layout

block content
  img.d-block.w-100(src='/images/mainimg11.jpg', alt='first-slide')#mainimg
  img.d-block.w-100(src='/images/maincomment2.png', alt='first-slide')#maincomment
  main.img
  
  .col-7.center-icon
    .card-group
      .card
        .card-body.center-icon
          a(href='/rent')
            #firsticon.i.far.fa-building.fa-4x
            p 니방대여
      |  
      .card 
        .card-body.center-icon
          a(href='/recipe')
            #secondicon.i.fas.fa-utensils.fa-4x
            p 레시피
      |   
      .card   
        .card-body.center-icon
          a(href='') 
            #thirdicon.i.i.fas.fa-map-marked-alt.fa-4x
            p 건물평가
        |   
      if (!currentUser)
        .card   
          .card-body.center-icon
            a(href='/signin') 
              #fourthicon.i.fas.fa-sign-in-alt.fa-4x
              p 로그인
        .card   
          .card-body.center-icon
            a(href='/user/signup') 
              #fourthicon.i.fas.fa-user-plus.fa-4x
              p 회원가입
      else
        .card   
            .card-body.center-icon
              a(href='/mypage') 
                #fourthicon.i.fa.fa-user.fa-4x
                p 마이페이지
        
        .card   
          .card-body.center-icon
            a(href='/signout') 
              #fourthicon.i.fas.fa-sign-out-alt.fa-4x
              p 로그아웃

