nav.nav.navbar.navbar-expand-lg.navbar-light.bg-light
  a.navbar-brand.justify-content-center(href='/')#logo
    img(src='/images/mainlogo2.png', width='160', height='auto', alt='logo')
  |
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  |
  #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
    |
    ul.navbar-nav
      |
      li.nav-item 
        a.nav-link(href='/recipe') 레시피
      |
      li.nav-item
        a.nav-link(href='') 리뷰
      |
      li.nav-item
        a.nav-link(href='/rent') 니방대여
      |
    ul.navbar-nav
      // 로그인 전 후 
      if (!currentUser) 
        li.nav-item
          //a.nav-link(href='/signin') 로그인
          button.btn.btn-white(type='button', data-toggle='modal', data-target='#exampleModal', data-whatever='@mdo') 로그인
          include ./_signin

        |
        li.nav-item
          a.nav-link(href='/user/signup') 회원가입
      else
        li.nav-item
          a.nav-link(href='/user/mypage') 마이페이지
        |
        li.nav-item
          a.nav-link(href='/signout') 로그아웃

