nav.navbar.navbar-expand-lg.navbar-dark.bg-dark.fixed-top
  a.navbar-brand(href='/') 니방내방
  |
  button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarSupportedContent', aria-controls='navbarSupportedContent', aria-expanded='false', aria-label='Toggle navigation')
    span.navbar-toggler-icon
  |
  #navbarSupportedContent.collapse.navbar-collapse.justify-content-end
    |
    ul.navbar-nav
      |
      li.nav-item
        a.nav-link(href='#') 레시피
      |
      li.nav-item
        a.nav-link(href='#') 리뷰
      |
      li.nav-item
        a.nav-link(href='/rent') 니방대여
      |
      // 로그인 전 후 
      if(!currentUser) 
        li.nav-item
          a.nav-link(href='/auth/signin') 로그인
        |
        li.nav-item
          a.nav-link(href='/auth/signup') 회원가입
      else
        li.nav-item
          a.nav-link(href='#') 마이페이지
        |
        li.nav-item
          a.nav-link(href='#') 로그아웃

