body{
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
a{
  color: #0738be;
}
  
nav.navbar{
  background-color: white!important;
  height: 15em!important;
  #logo{
    top: -0.2em;
    position: absolute;
    left: 43%;
  }
  ul{
    top: 10%;
    a{
      color: black!important;
      font-size: 1.2em;
    }
  }
}

#mainPageDiv{
  position : relative;
  left : 10px;
  top : -100px;
}
  
#carouselExampleSlidesOnly{
  left: 25%;
} 

#main_image{
  top : 100em;
}


#mainicon{
  padding-top: 2em;
  margin-left: 35em;
  color: #0738be;
}

#firsticon{
  margin-left: 2em;
}
#secondicon{
  margin-left: 2em;
}
#thirdicon{
  margin-left: 2em;
}
#fourthicon{
  margin-left: 2em;
}

