body{
    padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
a{
  color: #00B7FF;
}
  
#mainPageDiv{
  position : relative;
  left : 10px;
  top : -100px;
}
  
#carouselExampleSlidesOnly{
  right : 30em;
} 

#main_image{
  top : 100em;
}

i{
  color: yellow;
}