body{
    margin: 0;
    //padding: 50px;
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
  
.main-icon-color{
  color: #0738be;
}
#mainlogo{
  margin: 0 auto;
  float: none;
}
nav.navbar{

  background-color: white!important;
  //height: 7em!important;
  padding: 0;
  #logo{
    position: relative;
    // left: 44%;
  }
  ul{
    a{
      color:black!important;
      background-color: white!important;
      font-size: 1.2em;
    }
  }
}

#maincomment{
  // margin-top: -35%;
  // margin-left: 32%;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  margin-top: -650px;
  float: none;
  height: 45em;
  width: auto!important;
}

.center-icon{
  margin: 0 auto;
  float: none;
}

#mainPageDiv{
  position : relative;
  left : 10px;
  top : -100px;
}
  
#carouselExampleSlidesOnly{
  left: 25%;
} 

#mainimg{
  height: 55em;
}

.bottom_icon{
  top : 100px !important;
}

#mainlogo{
  left : 30%
}

.background_none{
  background-color: white;
}

.line_none{
  border : 0;
}

#signinicon{
  color:#007bff!important;
}

#signinicon:hover{
   color:#0738be!important;
}

#signintext:hover{
  text-decoration: underline;
}

@media only screen and (max-device-width : 768px) {

  #mainimg{
    display : none !important;
    // position: relative;
    // margin-left: auto;
    // margin-right: auto;
    // float: none;
    // width: 100em!important;
  }
  #maincomment{
    display : none !important;
  }
  // .row{
  //   left:300px !important;
  // }
  // #maincomment{
  //   display : none;
  // }
}

#recipe_search{
  background-color: #0738be!important;
}
@media only screen and (min-device-width : 768px) {
  #mainnav{
    display : none;
  }

}