.review_map{
 //height: 50em; 
 margin: 0 auto;
 float: none;
 width:80%!important;
 height:10%;
}

.center{
  margin: 0 auto;
 float: none;
}

#detailimg {
  height: 600px!important;
}

.review-like-btn {
  .for-loading {display: none;}
  cursor: pointer; 

  &.loading {
    & > span {display: none;}
    .for-loading {display: inline-block;}
    filter: opacity(30%);
    cursor: wait;
  }

  &.disabled {
    color: #bbb;
    cursor: default;
  }
}

.review-dislike-btn {
  .for-loading {display: none;}
  cursor: pointer; 

  &.loading {
    & > span {display: none;}
    .for-loading {display: inline-block;}
    filter: opacity(30%);
    cursor: wait;
  }

  &.disabled {
    color: #bbb;
    cursor: default;
  }
}

@media only screen and (max-device-width : 576px) {
  #detailimg {
    height: 200px!important;
  }
}