.review_map{
 //height: 50em; 
 margin: 0 auto;
 float: none;
 width:80%!important;
 height:10%;
}

.center{
  margin: 0 auto;
 float: none;
}


.review-like-btn {
  .for-loading {display: none;}
  cursor: pointer; 

  &.loading {
    & > span {display: none;}
    .for-loading {display: inline-block;}
    filter: opacity(30%);
    cursor: wait;
  }

  &.disabled {
    color: #bbb;
    cursor: default;
  }
}