.review_map{
 //height: 50em; 
 margin: 0 auto;
 float: none;
 width:80%!important;
 height:10%;
}

.center{
  margin: 0 auto;
 float: none;
}

#detailimg {
  width: 800px!important;
  height: 750px!important;
  
  // margin: 0 auto;
  float: left;
  border-radius: 1%;
  margin-bottom: 3em;
}

.review-like-btn {
  .for-loading {display: none;}
  cursor: pointer; 

  &.loading {
    & > span {display: none;}
    .for-loading {display: inline-block;}
    filter: opacity(30%);
    cursor: wait;
  }

  &.disabled {
    color: #bbb;
    cursor: default;
  }
}

.review-dislike-btn {
  .for-loading {display: none;}
  cursor: pointer; 

  &.loading {
    & > span {display: none;}
    .for-loading {display: inline-block;}
    filter: opacity(30%);
    cursor: wait;
  }

  &.disabled {
    color: #bbb;
    cursor: default;
  }
}
#detail_row{
  margin-top:4em;
  .col-lg-3{
    margin: 2em 0;
  }
  .btn-primary{
    width: 9em;
    background-color:  #0738be;
  }
}

.card{
  text-align: center;
  p{
    font-size: 1em;
  }
}

@media only screen and (max-device-width : 576px) {
  #detailimg {
    height: 200px!important;
  }
}