.col-lg-8.mx-auto
    .card.border-0
        h1.card-title.mx-auto.mt-5 니방내방
        .card-body.col-lg-10.mx-auto
            form
                .form-group.row
                    .col-sm-10.mx-auto
                        input#inputID.form-control(type='ID', placeholder='ID')
                |
                .form-group.row
                    .col-sm-10.mx-auto
                        input#inputPassword.form-control(type='password', placeholder='Password')
            |
            button.col-lg-10.col-sm-10.btn.btn-primary.btn-lg.btn-block.mx-auto(type="button")
                | 로그인
            .row.col-lg-10.mx-auto.mt-5
                .col-sm-3.mx-auto
                    a.btn.facebookbutton(href='/auth/facebook')
                        i.fab.fa-facebook.fa-5x.mb-3
                |
                .col-sm-3.mx-auto
                    a.btn.googlebutton(href='/auth/google')
                        i.fab.fa-google.fa-5x.mb-3
                |
                .col-sm-3.mx-auto
                    a.btn.kakaobutton(href='/auth/kakao')
                        i.fab.fa-kickstarter-k.fa-5x.mb-3



