img.img-fluid(src="",alt="Responsive image")
form(action=``, method='POST')
  .form-group
    label(for='answer') Your answer
    textarea.form-control(name="content", rows="2")
  h3
    |별점 여기~~
  button.btn.btn-color(type="submit") 댓글 달기
