.row.col-lg-9.col-12.mx-auto
  .col-lg-9.col-12
    h1.main-title= user.name
          
    dl.row
      dt.col-lg-2.col-sm-2 Email
      dd.col-lg-7.col-sm-10
        a(href=`mailto:${user.email}`)= user.email

      if user.facebook.id
        dt.col-lg-3.col-sm-3 Facebook
        dd.col-lg-6.col-sm-9
          img.rounded-circle.facebookimg(src= user.facebook.photo)

      if user.kakao.id
        dt.col-sm-3 Kakao
        dd.col-sm-9
          img.rounded-circle.kakaoimg(src= user.kakao.photo)      

      if user.google.id
        dt.col-sm-3 Google
        dd.col-sm-9
          img.rounded-circle.kakaoimg(src= user.kakao.photo)      