//- .row.col-lg-9.col-12.mx-auto.mb-3.border-top
//-   h1 이 방 좋아요!
.row.col-lg-9.col-12.mx-auto.mt-3.no-gutters
  //- -for
  .card.col-lg-4.col-md-6.col-12.mb-3(style='width: 18rem;')
    img.card-img-top(src='.../100px180/', alt='Card image cap')
    .card-body
      h5.card-title Card title
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card's content.
      a.btn.btn-primary(href='#') Go somewhere
  .card.col-lg-4.col-md-6.col-12.mb-3(style='width: 18rem;')
    img.card-img-top(src='.../100px180/', alt='Card image cap')
    .card-body
      h5.card-title Card title
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card's content.
      a.btn.btn-primary(href='#') Go somewhere
  .card.col-lg-4.col-md-6.col-12.mb-3(style='width: 18rem;')
    img.card-img-top(src='.../100px180/', alt='Card image cap')
    .card-body
      h5.card-title Card title
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card's content.
      a.btn.btn-primary(href='#') Go somewhere
  .card.col-lg-4.col-md-6.col-12.mb-3(style='width: 18rem;')
    img.card-img-top(src='.../100px180/', alt='Card image cap')
    .card-body
      h5.card-title Card title
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card's content.
      a.btn.btn-primary(href='#') Go somewhere
  .card.col-lg-4.col-md-6.col-12.mb-3(style='width: 18rem;')
    img.card-img-top(src='.../100px180/', alt='Card image cap')
    .card-body
      h5.card-title Card title
      p.card-text
        | Some quick example text to build on the card title and make up the bulk of the card's content.
      a.btn.btn-primary(href='#') Go somewhere

