hr
// Nav tabs
.input-group.row.col-lg-9.col-md-12.col-sm-12.mx-auto.mb-3
  //- form()
  form.form-inline.search-input-group.col-lg-11.col-md-12.col-sm-12.justify-content-end(action='/recipe', method='GET')
    input.form-control.mr-sm-2.col-lg-4.col-md-6.col-sm-8(type='text', name='term', placeholder='Search recipe', aria-label='Search', value=term)
    button.btn#recipe_search.col-lg-2.col-md-2.col-sm-2(type='submit') Search 

ul#myTab.nav.nav-tabs.row.col-lg-9.col-12.mx-auto(role='tablist')
  li.nav-item
    a#recipe-tab.nav-link.active(data-toggle='tab', href='#recipe', role='tab', aria-controls='roomlike', aria-selected='true') 전체 레시피
  if currentUser
    li.nav-item
      a#recommend-tab.nav-link(data-toggle='tab', href='#recommend', role='tab', aria-controls='recipelike', aria-selected='false') 레시피 추천
|
// Tab panes
.tab-content.row.col-lg-9.col-12.mx-auto
  #recipe.tab-pane.active.col-lg-12.col-md-12.col-sm-12(role='tabpanel', aria-labelledby='recipe-tab') 
    include _recipe
  #recommend.tab-pane.col-lg-12.col-md-12.col-sm-12(role='tabpanel', aria-labelledby='recommend-tab')
    include _recommend
