.card-deck
  //- each recipe in recipes
  .div=recipes
    //- .card
    //-   img.card-img-top(src='.../100px180/', alt='Card image cap')
    //-   .card-body
    //-     h5.card-title=recipe.RECIPE_NM_KO
    //-     p.card-text=recipe.SUMRY
    //-   .card-footer
    //-     small.text-muted Last updated 3 mins ago
