button.btn.btn-primary(type='button') 전체
button.btn.btn-primary(type='button') 추천
each recipe in recipe_default.data
  p=recipe.DET_URL
//- .card-deck
//-   .card
//-     img.card-img-top(src='.../100px180/', alt='Card image cap')
//-     .card-body
//-       h5.card-title Card title
//-       p.card-text
//-         | This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
//-     .card-footer
//-       small.text-muted Last updated 3 mins ago
//-   .card
//-     img.card-img-top(src='.../100px180/', alt='Card image cap')
//-     .card-body
//-       h5.card-title Card title
//-       p.card-text This card has supporting text below as a natural lead-in to additional content.
//-     .card-footer
//-       small.text-muted Last updated 3 mins ago
//-   .card
//-     img.card-img-top(src='.../100px180/', alt='Card image cap')
//-     .card-body
//-       h5.card-title Card title
//-       p.card-text
//-         | This is a wider card with supporting text below as a natural lead-in to additional content. This card has even longer content than the first to show that equal height action.
//-     .card-footer
//-       small.text-muted Last updated 3 mins ago

.recipe
    each recipe in recipe_default.doc
      hr
      .recipe_default
        h3=recipe.DET_URL

          //- a.title(href=`/event/${event.id}`)= event.title
        //- include _event

  //- +paginate(events, '/recipe')