.row.col-lg-10.col-md-12.col-sm-12.mx-auto.no-gutters.rent_list
  each recommend in recommends
    a.border-4.card.mb-3.col-lg-4.col-md-6.col-sm-12.mt-3.rent_room(href=`/recipe/detail/${recommend._id}`)
      img.card-img-top#rentimg(src=recommend.IMG_URL, alt='recipe img')
      .card-body
        p.card-text
          p=recommend.RECIPE_NM_KO
          p=recommend.LEVEL_NM
          

.div.col-10.center
  //- +paginate(recipe_default, '/recipe')  
